.github/
.vscode/**
.vscode-test/**
images/
node_modules/
src/
test/**
.eslintrc.json
.gitignore
.nvmrc
.prettierignore
.vscode-test.mjs
.yarnrc
cli.js
extension.js
README-internal.md
yarn.lock
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.vscode-test.*
